.container {
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 12px 24px;
  position: relative;
  background-color: #ffffff;
}

.container > svg {
  position: absolute;
  top: 10px;
  left: 12px;
  height: 24px;
}

.input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}
